.icon-button {
    display: inline-block;
    border-radius: 50px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.icon-button:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
