.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon-button {
    display: inline-block;
    border-radius: 50px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.icon-button:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.game-round-input {
    border: 1px solid black;
    position: relative;
}

.game-round-input .game-round-input-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.game-round-input .game-round-input-grid .row {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 0;
}

.game-round-input .game-round-input-grid .row .col {
    padding: 0;
}

/*.game-round-input .ratio {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/

.game-round-input svg {
    position: absolute;
    left: 0;
    top: 0;
}

.game-round-input svg polygon {
    fill: white;
    stroke-width: 1px;
    stroke: black;
    cursor: pointer;
}

.game-round-input svg polygon:hover {
    fill: #e6e6e6;
}

.wheel-picker-container ul::-webkit-scrollbar {
    display: none;
}
.wheel-picker-container ul {
    -ms-overflow-style: none;
}

table tr.footer-row {
    border-top: black 1px solid;
}

table tr.footer-row td:first-child {
    font-weight: bold;
}

.game-card {
    cursor: pointer;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.3s ease-in-out;
}

.game-card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
